.card-form-container {
  width: 30%;
  margin: 0 auto;
  justify-content: center;
}

.card-form-container button {
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
