.card-form-container {
  width: 40%;
  margin: 0 auto;
}

.card-form-container button {
  width: 100%;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 680px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
